/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); */

@font-face {
  font-family: 'Mohave Regular';
  font-display: swap;
  src: url('./res/MohaveRegular.otf') format('opentype');
}

body {
  margin: 0;

  /* Fallback backgrounds: striped, and then solid gray */
  background: linear-gradient(45deg, #3d3d3d 25%, #4f4f4f 25%, #4f4f4f 50%, #3d3d3d 50%, #3d3d3d 75%, #4f4f4f 75%, #4f4f4f 100%) top left / 56.57px 56.57px;
  background-color: #121212;
  color: #eee;

  /* System Fonts as used by Medium and WordPress */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-align: center;
}

.webp body {
  background: #121212 url('./res/bg.webp') top left / cover no-repeat fixed;
}

.no-js body,
.no-webp body {
  background: #121212 url('./res/bg.jpg') top left / cover no-repeat fixed;
}

#no-js-warning {
  display: block;
  width: 100vw;
  padding: 1em;
  background-color: #e81123;
  color: #fff;

  /* System Fonts as used by Medium and WordPress */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
}

a {
  color: #eee;
  display: inline-block;
  padding: 0.3em;
}

a:hover {
  color: #fa0;
}

a:visited {
  color: #c70;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 100px);
}

/* Recipe */

#recipe {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  border: 1px solid #90c231;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Mohave Regular', Helvetica, Arial, sans-serif;
  touch-action: manipulation;
}

.ingredient {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.4em;
  padding: 1.5em 0;
  border: 1px solid #90c231;
  box-shadow: inset 0 0 30px -7px #90c231;
}

.ingredient-name {
  margin: 1em;
  display: inline-block;
  text-align: center;
  width: 4em;
}

.ingredient-name img {
  display: block;
}

.ingredient-name span {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-family: 'Mohave Regular', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.recipe-input {
  display: inline-grid;
  margin-right: 1em;
  height: 100%;
  grid-gap: 0.3em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: [up] 3fr [number] 5fr 3fr [down];
}

.recipe-input button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
  fill: #363734;
  background-color: #90c231;
  border: none;
  cursor: pointer;
}

.recipe-input button:hover,
.recipe-input button:active,
.recipe-input button:focus {
  outline: none;
  fill: #eee;
}

.up {
  transform: rotate(180deg);
}

.recipe-input p {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 2em;
  margin: 0.15em 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(145, 194, 51, 0.8);
}

.heavy-style {
  border-color: #d6571f !important;
}

.heavy-style div.ingredient {
  border-color: #d6571f !important;
  box-shadow: inset 0 0 30px -7px #d6571f;
  background-color: rgba(50, 15, 0, 0.3);
}

.heavy-style .recipe-input p {
  border: 1px solid rgba(214, 87, 31, 0.8);
}

.heavy-style .recipe-input button {
  background-color: #d6571f;
}

.heavy-style .recipe-input button:active,
.heavy-style .recipe-input button:focus {
  color: #eee;
}

/* Results Table */

.table-wrapper {
  display: inline-block;
  margin-top: 1%;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100%;
}

table {
  margin: 0 auto;
  border-top: 1px solid #fa0;
  border-left: 1px solid #fa0;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

#three-star {
  color: #6bdfce;
  text-shadow: 0 0 3px #6bdfce;
}

#four-star {
  color: #d6e35a;
  text-shadow: 0 0 3px #d6e35a;
}

#five-star {
  color: #ffcd4a;
  text-shadow: 0 0 3px #ffcd4a;
}

.rarity {
  text-align: center;
}

td.rarity {
  font-size: 16px;
  padding-top: 0.5em;
}

td {
  padding: 0.5em;
  border-right: 1px solid #fa0;
  border-bottom: 1px solid #fa0;
  vertical-align: top;
  height: 10em;
}

th {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid #fa0;
  border-bottom: 1px solid #fa0;
}

ul {
  margin: 0;
  padding: 0;
}

table li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.2em 0;
}

li.flat {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  overflow: hidden;
}

li span:first-child {
  margin-right: 1em;
}

li span:last-child {
  margin-left: auto;
}

.unavailable {
  position: relative;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: none;
}

/* Controls Menu */

#controls {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  padding: 0 0.5em;
  border: 1px solid #fa0;
  border-bottom: 0;
  font-size: 15px;
  text-align: left;
}

.ctlgroup > div {
  margin-top: 0.7em;
}

.selection {
  display: block;
  cursor: pointer;
}

.selection label {
  margin-right: 1em;
}

.selection select {
  appearance: none;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #c70;
  padding: 0.3em;
  padding-right: 1.1em;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.selection select:active,
.selection select:focus,
.selection select:hover {
  border-color: rgb(255, 195, 0);
  background-color: rgba(204, 119, 0, 0.5);
  outline: none;
}

.select-dropdown {
  margin-left: -1.25em;
  font-size: 10px;
}

.selection option {
  background-color: #fff;
  color: #000;
}

.toggle div {
  display: inline-flex;
  align-items: baseline;
}

label.switch {
  margin-top: 0.1em;
}

label.switch + span {
  text-align: left;
  padding-left: 1em;
  margin-top: -1px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 18px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
}

label.switch span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(180, 180, 180);
  border-radius: 10px;
}

label.switch span::before {
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: 50%;
  content: ' ';
  background-color: #fff;
  height: 16px;
  width: 16px;
  transition: 0.2s;
  z-index: 1;
}

@keyframes focusknob {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2.3);
  }
}

.knobfocus::after {
  content: ' ';
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: 50%;
  background-color: rgba(200, 150, 100, 0.5);
  height: 16px;
  width: 16px;
  z-index: 0;
  transition: 0.2s;
  transform: scale(2.3);
  animation: focusknob 0.2s ease-out;
}

label.switch input:focus:checked + span::after,
label.switch input:active:checked + span::after {
  transform: translateX(14px) scale(2.3);
}

label.switch input:checked + span::before {
  transform: translateX(14px);
}

label.switch input:checked + span {
  background-color: rgb(240, 170, 40);
}

#controls p {
  margin: 0.5em 0;
  font-size: 14px;
  grid-column: 1 / -1;
}

/* Reference */
footer {
  display: flex;
  align-items: center;
  margin-top: 3%;
  background-color: #121212;
  padding: 1em;
  text-align: left;
}

footer div {
  margin: 0 auto;
  padding: 0 1em;
}

footer h3 {
  margin: 0;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 2em;
}

footer li:last-child {
  margin-right: 0;
}

footer p {
  margin: 0.3em auto;
}

#reference a {
  margin-top: 0.7em;
  padding: 0.2em;
}

@media all and (min-width: 2560px) {
  #controls,
  .selection select,
  body {
    font-size: 20px;
  }

  th {
    font-size: 20px;
  }

  .ingredient-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ingredient-name span {
    font-size: initial;
  }
}

@media all and (min-width: 1350px) {
  table,
  .table-wrapper {
    width: 1100px;
  }
}

@media all and (max-width: 1350px) {
  #recipe {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 700px) {
  #recipe.heavy-style {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%;
  }

  .heavy-style .ingredient {
    margin: 0;
  }

  .heavy-style .ingredient-name {
    margin: 0.25em;
  }

  .heavy-style .ingredient img {
    margin: 0;
    width: 50px;
    height: 50px;
  }

  .heavy-style div.ingredient {
    box-shadow: none;
  }

  table {
    width: 100vw;
  }

  #controls,
  .selection select,
  body {
    font-size: 14px;
  }

  th {
    font-size: 15px;
  }

  footer > div {
    margin: 0 1em;
  }

  footer li {
    margin-right: 0.5em;
  }
}

@media all and (max-width: 550px) {
  #recipe {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }

  .recipe-input {
    margin: 0;
    padding: 0;
    height: min-content;
  }

  .ingredient {
    padding: 0.5em 1em;
    padding-bottom: 1em;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .ingredient-name span {
    display: flex;
    align-self: center;
  }

  /* Override gatsby-image to prevent disappearing images / cropped images */
  .ingredient-name .gatsby-image-wrapper {
    min-width: 20px !important;
    height: 20px !important;
  }

  .heavy-style .ingredient-name .gatsby-image-wrapper {
    min-width: 50px !important;
    height: 50px !important;
  }

  .recipe-input p {
    padding: 0.2em;
  }

  .recipe-input p,
  .recipe-input button {
    align-self: center;
  }

  .ingredient-name {
    margin: 0;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: center;
  }

  .ingredient span {
    font-size: 16px;
  }

  .ingredient img {
    width: 20px;
    height: 20px;
  }

  .toggle div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  label.switch + span {
    float: none;
    text-align: center;
  }

  label.switch {
    margin-top: 0.3em;
  }

  table li {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;
  }

  td {
    padding: 0;
  }

  li span:first-child {
    margin-right: 0;
  }

  li span:last-child {
    margin-left: 0;
  }

  footer div {
    margin: 0;
  }
}

@media all and (max-width: 470px) {
  #recipe.heavy-style {
    grid-template-columns: 1fr;
  }

  .heavy-style .ingredient {
    flex-direction: row;
  }

  .heavy-style .ingredient-name {
    margin: auto;
    flex-direction: column;
  }

  .heavy-style .recipe-input {
    margin: auto;
  }
}

@media all and (max-width: 400px) {
  .rarity {
    display: none;
  }

  #recipe {
    width: 100vw;
    border: 1px solid #90c231;
    box-sizing: border-box;
  }

  .ingredient {
    margin: 0;
    padding: 1em 0.25em;
    border-collapse: collapse;
  }
}
